body{
    background-color: #f4f4f4;
    color: #555;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: #333;
}

#navbar{
    background-color: #333;
    color: white;
    text-align: center; 
}
#navbar li{
    display: inline;  
     
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    
    padding-right: 15px;
}

#showcase{
    background-image: url('../Images/bg.jpg');
    background-position: center right;
    min-height: 500px;
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1{
    color: grey;
    font-size: 50px;
    line-height: 1.6em;
    padding: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    background: #333;
    color: #fff;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}